/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)

## Typography

### Body Copy

- Font size: 18px (card titles e.g. Work, Play)

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 300, 400, 500
*/

:root {
    --jeremy-div: hsl(246, 80%, 60%);
    --hrs-blue: hsl(235, 46%, 20%);
    --work-div: hsl(15, 100%, 70%);
    --play-div: hsl(195, 74%, 62%);
    --study-div: hsl(348, 100%, 68%);
    --exercise-div: hsl(145, 58%, 55%);
    --social-div: hsl(264, 64%, 52%);
    --selfcare-div: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body{
    background-color: var(--very-dark-blue);
    font-family: 'Rubik', sans-serif;
}

.container-margin{
    margin: 0 1.5rem 1.5rem 1.5rem;
}
/*First card -- Jeremy*/
.info-div{
    background-color: var(--hrs-blue);
    margin-top: 4rem;
    border-radius: 12px;
}

.jeremy-div{
    background-color: var(--jeremy-div);
    border-radius: 12px;
    padding: 30px;
    display: flex;
}

.jeremy-img{
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 50%;
}

.jeremy-report{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.report{
    font-size: 16px;
    color: hsl(235, 45%, 61%);
}

.par-jeremy{
    font-size: 22px;
    color: hsl(236, 100%, 87%);
    font-weight: 300;
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-size: 18px;
}

.box1{
    margin-top: 20px;
}

/*Second card - work */
.img-div{
    height: 60px;
    border-radius: 12px;
    background-color: var(--work-div);
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.work-info{
    margin-top: -45px;
    border-radius: 12px;
    background-color: var(--hrs-blue); 
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 30px;
}

/*esto va a ser lo mismo en todos los cards asi que hay que cambiarle el nombre para reutilizarlo*/
.par-work{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dots-img{
    width: 25px;
    margin-left: 100px;
}

.par-hrs{
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.lastweek-span{
    color: var(--Pale-Blue);
    margin-top: 10px;
}


/*****************************MEDIA QUERIES*************************/
 @media all and (min-width: 1024px){
    
    body{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 7rem ;
        box-sizing: content-box;
    }

    .container-margin{
        margin: 0;
    }

    .info-div{
        margin: 20px;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .box1{
        margin: 0 1rem 1rem 0;
        width: 250px;
    }

    .work-info{
        margin-top: -20px;
        height: 100px; 
        padding: 30px;
        grid-template-columns: 80% 20%;
    }

    .par-work{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .dots-img{
        width: 20px;
        grid-column-start: 2;
        margin-left: 20px;
    }

    .par-hrs{
        font-size: 40px;
        color: white;
        font-weight: 300;
    }

    .lastweek-span{
        grid-column-start: 1;
        font-size: 13px;
    }

} 